.btn{
    padding: 10px;
    border: 2px solid black;
    background-color: red;
    outline: none;
    color: white;
    cursor: pointer;
}

.box{
    border: 2px solid grey;
    padding: 10px;
}
span{
    margin: 10px;
}
.container{
    margin-top: 20px;
}